body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

#year {
  display: block;
  text-align: center;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  width:800px;
}

.yearAR{
  margin-top:20px;
  margin-left: left;
  margin-right: auto;
  font-size: 30px;
  float: left;
}

#main {
  float: left;
  width: 100%;
}
/*
#sidebar {
  float: right;
  width: 33%;
}*/

#sequence {
  width: 600px;
  height: 33%;
  /*float: left;*/
}

#viz{
  width: 33%
  display: inline-block;
  float: left;

}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  width: 33%
  float: right;
  display: inline-block;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
